.modal{
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  &-window{
    width: 550px;
    height: 400px;
    color: white;
    border-radius: 5px;
    background-color: #e3e7e2;
    font-size: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 225px auto;
  }
  &-header{
    font-size: 22px;
    text-align: left;
    background-color: #b374a8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
  }
  &-text
  {
    margin: 40px;
  }
  &-close{
    align-self: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
  }
  &-button{
    display: inline-block;
    text-align: center;
    width: 150px;
    border-radius: 3px;
    padding: 15px;
    margin: 25px 25px;
    cursor: pointer;
  }
}
form{
  display: flex;
  flex-direction: column;
}
#send{
  display: inline-block;
  text-align: center;
  width: 150px;
  border-radius: 3px;
  padding: 15px;
  margin: 25px 25px;
  cursor: pointer;
  background-color: #b374a8;
  color: white;
}
