.tabs-header {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
  background-color: #ccc;
  cursor: pointer;
}
.tabs-content-item {
  padding: 30px;
}
.tabs-content-text {
  font-size: 18px;
}
