.burger-button
{
    padding: 5px 10px ;
    text-align: center;
}
.line{
    width: 10px;
    height: 3px;
    background-color: black;
    margin: 2px;
}
.menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}
.menu-item{
    width: 100%;
    padding: 15px;
    border:1px solid black;
    text-align: center;
    align-self: center;
}
